body {
    font-family: Arial, sans-serif;
}

table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #ccc;
}

th, td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: left;
}

tbody tr:nth-child(even) {
    background-color: #d3d3d3;
}

tbody tr:hover {
    background-color: #add8e6;
}
